server:
  port: 9001

spring:
  application:
    name: community-service

  datasource:
    url: jdbc:postgresql://localhost:5432/audira_community
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
